* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.flex-container {
	padding: 15px;
	background-color: #464646;
	color: #fff;
	min-height: 300px;
}

.flex-element {
	padding: 50px;
	margin: 10px;
	background-color: #d43838;
}



